@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

body {
    background-image: linear-gradient(to bottom, #9da5b8, #6e6e6e, #303030);
    background-attachment: fixed;
}

main {
    background-color: rgba(185, 185, 185, 0.397);
    border-radius: 30px;
    box-shadow: 5px 5px 16px #06133598;
    width: 700px;
    padding: 70px;
    margin: auto;
    margin-top: 19%;
}

h1{
    color: #000000;
    text-align: center;
    
}

h2{
    color:#31BADB;
}

p {
    text-align: justify;
}